/*Thumbnail Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .thumb-wrapper {
    border-radius: .25rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    position: relative;
    transition: all .15s ease;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  .thumb-wrapper-small {
    flex-basis: 275px;
    margin: 0.6em;
  }
  
  .thumb-main {
    margin: auto;
    width: 80%;
  }
  
  @media (max-width: 715px) {
    .thumb-main {
      margin: auto;
      width: 100%;
    }
  
  }
  
  .thumb-wrapper:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    transform: translateY(-1px);
  }
  
  .thumb-title-wrapper {
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    border-color: #e2e5e9;
    border-top-style: solid;
    border-top-width: 1px;
  }
  
  .thumb-title-link {
    font-size: 1.5rem;
    text-decoration: none;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #1b1e23;
    display: flex;
  }
  .thumb-title{
    margin-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .25rem;
  }
  