<section class="section">
    <div class="message">
        <div class="message-header">Funding & Acknowledgements</div>
        <div class="message-body">
            The HPDS is maintained by the Program on Health Workforce Research and Policy at the Cecil G. Sheps Center for Health Services Research at the University of North Carolina at Chapel Hill, in collaboration with the North Carolina Area Health Education Centers Program (AHEC), and the state’s independent health professional licensing boards. Ongoing financial support is provided by the NC AHEC Program Office. Although the NC HPDS maintains the data system, the data remain the property of their respective licensing board. This information or content and conclusions are those of the authors and should not be construed as the official position or policy of, nor should any endorsements be inferred by NC AHEC. To learn more about NC AHEC please visit: <a href="https://www.ncahec.net">https://www.ncahec.net</a>.
        </div>
    </div>
</section>