{{ define "main"}}


<section class="hero is-medium has-background-info-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
  <div class="column is-8-desktop is-offset-2-desktop is-block-mobile has-text-centered">
        <h1 class="title has-text-centered" style="word-break:normal;">We track & visualize North Carolina's health workforce.</h1>
          <p class="subtitle is-4 has-text-centered" style="word-break:normal;">Timely data, interactive visualizations, policy analysis and more.</p>
               <a class="button is-success is-rounded" href="/about"> Learn More About Us  </a>
 </div>
        </div>
        </div>
          </div>

</section>

<!-- Trying out new explore section -->


<section class="section has-background-white-er is-bold">

  <div class="column is-8-desktop is-offset-2-desktop is-block-mobile">
    <h2 class="title has-text-centered is-spaced has-text-weight-light"> Explore</h2>
    <div class="container">

      <div class="columns">

        {{/* MHSU card - uncomment Monday and delete Interactive Visualizations card below
        <div class="column">
          <div class="card has-background-success-light">
            <a href="/projects/mhsu-workforce/">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="/images/thumbnails/mhsu-workforce.png" alt="Go to MH/SU Workforce Report." style="object-fit: cover;">
                </figure>
              </div>
              <div class="card-content ">
                <div class="content">
                  <h2 class="title is-4 has-text-centered has-text-weight-light" style="word-break:normal;">MH/SU Services Workforce Landscape</h2>
                  <p class="subtitle is-5 has-text-centered" style="word-break:normal;">Explore North Carolina's mental health and substance use services workforce.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        */}}

        <div class="column">
          <div class="card has-background-success-light">
            <a href="/interactive">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="/images/assets/interactive.png" alt="Go to interactive data visualizations.">
                </figure>
              </div>
              <div class="card-content ">
                <div class="content">
                  <h2 class="title is-4 has-text-centered has-text-weight-light" style="word-break:normal;">Interactive Visualizations</h2>
                  <p class="subtitle is-5 has-text-centered" style="word-break:normal;">Explore trends in the NC health workforce.</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="column">
          <div class="card has-background-success-light">
            <a href="/interactive/supply">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="/images/assets/supply-viz.png" alt="Go to health professional supply visualization.">
                </figure>
              </div>
              <div class="card-content ">
                <div class="content">
                  <h2 class="title is-4 has-text-centered has-text-weight-light" style="word-break:normal;">Supply Visualization</h2>
                  <p class="subtitle is-5 has-text-centered" style="word-break:normal;">See where health care professionals work across the state.</p>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="column">
          <div class="card has-background-success-light">
            <a href="/blog">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="/images/assets/blog.png" alt="Go to health workforce blog.">
                </figure>
              </div>
              <div class="card-content ">
                <div class="content">
                  <h2 class="title is-4 has-text-centered has-text-weight-light" style="word-break:normal;">Blog</h2>
                  <p class="subtitle is-5 has-text-centered" style="word-break:normal;">Check out our recent blogs.</p>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div>
</section>








{{end}}
